@using AiCatchGame.Bo
@using AiCatchGame.Web.Client.Components
@using AiCatchGame.Web.Client.Components.Common
@page "/game"

@if (GameData == null)
{
    <MudText>Loading...</MudText>
}
else if (GameData.Status == GameStatuses.InLobby)
{
    <MudText>En attente des autres joueurs...</MudText>
    {
        <ul id="messagesList">
            @foreach (string message in _lobbyMessages)
            {
                <li>@message</li>
            }
        </ul>
    }
}
else if (GameData.Status == GameStatuses.Over)
{

    <MudText>Partie finie. Merci d'avoir joué</MudText>
    <ScoreCard Game="@GameData" />
    <MudButton href="/home">Nouvelle partie</MudButton>
}
else @* if (Game.Status == GameStatus.Playing) *@
{

    if (CurrentSet != null && _currentCharacter != null)
    {
        <h2> Tour n°@CurrentSet.RoundNumber</h2>
        @if (CurrentSet.Status == GameSetStatuses.CharacterAttribution && TimerRemaining > 0)
        {
            <MudText Typo="Typo.h3">Votre nom pour ce tour est @_currentCharacter.Name</MudText>
            <MudText>Le tour commence dans</MudText>
            <GameTimer @bind-Value="@TimerRemaining" />
        }
        @if (CurrentSet.Status == GameSetStatuses.Chatting && TimerRemaining > 0)
        {
            <GameTimer @bind-Value="@TimerRemaining" />

            <ul id="messagesList">
                @foreach (string message in _messages)
                {
                    <li>@message</li>
                }
            </ul>

            <div class="form-group">
                <label>
                    <ACCTextField Label="message" @bind-Value="_message" OnEnter="SendMessage" />
                </label>
            </div>
            <MudButton OnClick="SendMessage">Send</MudButton>

        }
        else if (CurrentSet.Status == GameSetStatuses.Voting && TimerRemaining > 0 && _otherCharacters != null)
        {
            <MudText Typo="Typo.h3">Qui est l'IA ?</MudText>
            foreach (CharacterInfo character in _otherCharacters)
            {
                <MudButton OnClick="@(async () => await VoteFor(character.Id))">@character.Name</MudButton>
            }
        }
        else if (CurrentSet.Status == GameSetStatuses.End && _setResult != null)
        {

            <AiCatchGame.Web.Client.Components.GameScreen.SetEnd CurrentSet="@CurrentSet" SetResult="@_setResult" />
       
        }
    }
}
