@using AiCatchGame.Bo
@using AiCatchGame.Web.Client.Components
@page "/game"

@if (GameData == null)
{
    <MudText>Loading...</MudText>
}
else if (GameData.Status == GameStatuses.InLobby)
{
    <MudText>En attente des autres joueurs...</MudText>
    {
        <ul id="messagesList">
            @foreach (string message in _lobbyMessages)
            {
                <li>@message</li>
            }
        </ul>
    }
}
else if (GameData.Status == GameStatuses.Over)
{

    <MudText>Partie finie. Merci d'avoir joué</MudText>
    <ScoreCard Game="@GameData" />
    <MudButton href="/home">Nouvelle partie</MudButton>
}
else @* if (Game.Status == GameStatus.Playing) *@
{

    if (CurrentSet != null && _currentCharacter != null)
    {
        <h2> Tour n°@CurrentSet.RoundNumber</h2>
        @if (CurrentSet.Status == GameSetStatuses.CharacterAttribution && TimerRemaining > 0)
        {
            <MudText Typo="Typo.h3">Votre nom pour ce tour est @_currentCharacter.Name</MudText>
            <MudText>Le tour commence dans</MudText>
            <GameTimer @bind-Value="@TimerRemaining" />
        }
        @if (CurrentSet.Status == GameSetStatuses.Chatting && TimerRemaining > 0)
        {
            <GameTimer @bind-Value="@TimerRemaining" />

            <ul id="messagesList">
                @foreach (string message in _messages)
                {
                    <li>@message</li>
                }
            </ul>

            <div class="form-group">
                <label>
                    <MudTextField Label="message" @bind-Value="_message" Immediate="true" OnKeyDown="OnChatKeyDown" size="50" />
                </label>
            </div>
            <MudButton OnClick="SendMessage">Send</MudButton>

        }
        else if (CurrentSet.Status == GameSetStatuses.Voting && TimerRemaining > 0 && _otherCharacters != null)
        {
            <MudText Typo="Typo.h3">Qui est l'IA ?</MudText>
            foreach (CharacterInfo character in _otherCharacters)
            {
                <MudButton OnClick="@(async () => await VoteFor(character.Id))">@character.Name</MudButton>
            }
        }
        else if (CurrentSet.Status == GameSetStatuses.End && _setResult != null)
        {


            @foreach (AiGameSetResultInfo aiPlayer in _setResult.AiInfoList)
            {
                <MudText>L'IA était <span class="suspenseOpen">@aiPlayer.Character.Name</span></MudText>
            }
            @foreach (HumanPlayerGameSetResultInfo humanPlayer in _setResult.HumanPlayers)
            {
                <MudText>
                    <span class="emph">@humanPlayer.Pseudonym</span> qui jouait <span class="emph">@GetCharacterNameById(humanPlayer.CharacterId)</span>
                    @if (humanPlayer.VoteReaction == null)
                    {
                        <span>n'a pas voté</span>
                    }
                    else 
                    {
                        <span>a voté en </span><span class="emph">@humanPlayer.VoteReaction.Value.ToString()s</span>
                       <span> pour </span><span class="@(humanPlayer.HasFoundAi ? "success" : "failure") emph"> @GetCharacterNameById(humanPlayer.CharacterId)</span>
                    }

                    <span class="point emph @(humanPlayer.ScoreVote > 0 ? "success" : "failure")">@humanPlayer.ScoreVote</span>
                </MudText>
                <MudText>
                    <span class="emph @(humanPlayer.ScoreVote > 0 ? "success" : "failure")">
                        @GetPlayersStringById(humanPlayer.PlayerIdsVotedFor)

                    </span>
                    @if (humanPlayer.PlayerIdsVotedFor.Length == 0)
                    {
                        <span>n'a</span>
                    }
                    else if (humanPlayer.PlayerIdsVotedFor.Length == 1)
                    {
                        <span>a</span>
                    }
                    else
                    {
                        <span>ont</span>
                    }
                    <span> voté pour </span><span class="emph">@_currentCharacter.Name</span>
                    <span class="point emph @(humanPlayer.ScoreVotedAsAi > 0 ? "success" : "failure")">@humanPlayer.ScoreVotedAsAi</span>
                </MudText>
                <MudText>Ce qui fait <span class="point emph @(humanPlayer.ScoreSet > 0 ? "success" : "neg")">@humanPlayer.ScoreSet</span> points pour ce tour</MudText>
                <MudText>Soit un total de <span class="point emph @(humanPlayer.ScoreTotal > 0 ? "success" : "failure")">@humanPlayer.ScoreTotal</span> points.</MudText>
            }
        }
    }
}
